<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="verticalWidth" value="1290"/>
		<add key="verticalHeight" value="1684"/>
		<add key="horizontalWidth" value="1290"/>
		<add key="horizontalHeight" value="842"/>

		<add key="dimensionesOriginales" value="false"/>

		<add key="rutaDestinoDefecto" value=""/>
	</appSettings>
</configuration>

